@media (max-width: 767px){     
    :root {
        --font_size_title: 26px;
        --font_size: 16px;
    }
    .callback_wrap {
        background: #F1F3F8;
        box-shadow: none;
        border-radius: 0;
        padding: 0;        
    }
    .callback {
        margin-top: 0px;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        background: #F1F3F8;
        padding-top: 58px;
        padding-bottom: 60px;
    }
    .callback_form .line .field input {
        background: #fff;
    }
    .header_mode {
        display: none;
    }
    .header_logo a {
        width: 113px;
    }
    .header_contacts-soc {
        width: 24px;
        height: 24px;
        margin-right: 3px;
    }
    .header_contacts-soc img {
        width: 100%;
        height: 100%;
    }
    .header {
        padding: 22px 0 40px;
        background-position-x: -65%;
    }
    .header_contact-phone {
        font-size: 16px;
        margin-bottom: 0;
        line-height: 1;
    }
    .header_contact-email {
        font-size: 11px;
    }
    .header_title {
        font-size: 32px;
        margin-bottom: 13px;
    }
    .header_list li {
        font-size: 16px;
    }
    .callback_form .line {
        flex-direction: column;
    }
    .callback_form .line .field {
        margin-right: 0px;
        margin-bottom: 18px;
    }
    .callback_form .line .submit_btn {
        width: 100%;
    }
    form input[type=checkbox]+label:before {
        top: 4px;
    }
    form input[type=checkbox]+label:after {
        top: 8px;
    }
    .about_top-img {
        width: 100%;
        height: 240px;
    }
    .about_top-img img {
        object-fit: cover;
    }
    .about_top {
        margin-bottom: 30px;
    }
    .about_bottom-img {
        width: 100%;
        height: 240px; 
    }
    .about_bottom-img img {
        object-fit: cover; 
    }
    .step_items {
        margin-left: 0;
    }
    .step_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .footer_wrap {
        flex-direction: column;
    }
    .footer_contacts-popup {
        display: block;
    }
    .footer_contact-phone {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        margin-left: 0;
    }
    .footer_contact-email {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
    }
    .callback-bottom .callback_form .line .submit_btn {
        width: 100%;
    }
    .footer_contacts {
        flex-direction: column;
    }
    .footer_logo_mob {
        display: block;
    }
    .footer_logo_desktop {
        display: none;
    }
    .footer_logo {
        flex-direction: column;
    }
    footer {
        background: #1A2D59;
        padding-top: 36px;
        padding-bottom: 52px;
    }
    .footer_mode {
        padding-left: 0px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        max-width: 100%;
        margin-right: 0;
        border-left: none;
        margin-top: 21px;
        margin-bottom: 27px;
    }
    .footer_mode br {
        display: none;
    }
    .footer_logo a {
        width: 197px;
        margin-right: 0px;
    }
    .footer_contacts-wrap {
        margin-bottom: 32px;
    }
    .footer_contact {
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
    }
    .footer_contacts-popup {
        margin-left: 0;
        margin-top: 34px;
    }
    footer .cont {
        border-top: none;
        padding-top: 0px;
    }
    .callback-bottom {
        background: #fff;
    }
    .callback.callback-bottom .block_title .title {
        text-align: center;
    }
    .callback.callback-bottom .block_title .desc {
        text-align: center;
    }
    .callback-bottom .callback_wrap {
        padding: 0px;
        background: #fff;
    }
    .callback-bottom .callback_form .line .field input {
        background: #F1F3F8;
        border: 2px solid #E3E5EB;
    }
    .callback-bottom .callback_form .line .submit_btn {
        padding-left: 40px;
    }
    .callback-bottom {
        padding-bottom: 0;
        margin-bottom: 58px;
        background: #fff;
    }
    .callback-bottom .callback_form .line .field {
        margin-right: 10px;
    }
    .text_block p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .step {
        padding-top: 62px;
        padding-bottom: 83px;
        background: #F1F3F8;
    }




    
    
}

    


















