@media (max-width: 1160px) {
    .header_mode {
        padding-left: 15px;
    }
    .header_contact {
        margin-left: 10px;
    }
    .footer_mode {
        padding-left: 15px;
    }
    .footer_contact {
        margin-left: 10px;
        margin-right: 10px;
    }
    .about_top-img {
        width: 500px;
        height: 351px;
    }
    .about .block_title .title br {
        display: none;
    }

}


@media (max-width: 1023px) {
    :root {
        --font_size_title: 28px;
        --font_size: 17px;
    }
    .callback-bottom .callback_wrap::before {
        display: none;
    }
    .header_contacts-popup {
        display: none;
    }
    .header_logo a {
        width: 145px;
        margin-right: 12px;
    }
    .header_logo a img {
        width: 100%;
    }
    .header_mode {
        font-size: 15px;
    }
    .header_contact-phone {
        font-size: 20px;
    }
    .header_contact-email {
        font-size: 14px;
    }
    .header_wrap {
        margin-bottom: 70px;
    }
    .header_title br {
        display: none;
    }
    .header_title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .header_text {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .header_list li {
        font-size: 18px;
    }
    .header {
        padding: 49px 0 220px;
    }
    .callback_wrap {
        padding: 20px;
    }
    .callback_form .line .submit_btn {
        width: 235px;
    }
    .callback_form .line .field {
        margin-right: 10px;
    }
    .callback_form .agree {
        margin-top: 20px;
        justify-content: flex-start;
    }
    .about_top {
        flex-direction: column;
    }
    .about_top-wrap {
        margin-right: 0px;
    }
    .text_block {
        margin-bottom: 25px;
    }
    .about_bottom {
        flex-direction: column-reverse;
    }
    .text_block p {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .about_bottom-img {
        margin-right: 0;
    }
    .about_bottom .text_block {
        max-width: 100%;
    }
    .step_items {
        margin-left: -20px;
        margin-bottom: -20px;
    }
    .step_items > * {
        width: calc(100%/2 - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .step_item:last-child {
        margin-top: 0;
    }
    .callback-bottom .callback_wrap {
        padding: 20px;
    }
    .callback.callback-bottom .block_title .desc {
        margin-bottom: 20px;
    }
    .footer_contacts-popup {
        display: none;
    }
    .footer_logo a {
        width: 145px;
        margin-right: 12px;
    }
    .footer_logo a img {
        width: 100%;
    }
    .footer_mode {
        font-size: 15px;
    }
    .footer_contact-phone {
        font-size: 20px;
    }
    .footer_contact-email {
        font-size: 14px;
    }
    .callback-bottom .callback_form .line .field {
        margin-right: 10px;
    }
    .callback-bottom .callback_form .agree {
        margin-top: 20px;
    }
    .about {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .step {
        padding-top: 75px;
        padding-bottom: 135px;
    }
    .block_title .desc {
        margin-bottom: 20px;
    }
    .block_title .desc br {
        display: none;
    }
    .step_item {
        padding: 42px 12px 39px 20px;
    }
    .callback-bottom {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .about_top {
        margin-bottom: 50px;
    }
    .header {
        background-position-x: -109%;
    }





  



    
}

 


