@media (max-width: 479px) {

    :root {
        --font_size_title: 24px;
        --font_size: 16px;
    }
    .header {
        background: url(../image/header_bg_mob.png);
        padding: 22px 0 161px;
    }  
    .step_item:before {
        right: 22px;
    }
    .step_items > * {
        margin-bottom: 30px;
    }
    .callback-bottom {
        padding-bottom: 0;
        margin-bottom: 58px;
        background: #fff;
    }
    .step .submit_btn {
        width: 100%;
    }
    .step_item {
        margin-bottom: 20px;
    }
    .step_item:last-child {
        margin-bottom: 0px;
    }
    .header_contact-phone {
        font-size: 13px;
    }
    .header_contact-email {
        font-size: 9px;
    }
    .header_logo a {
        margin-right: 4px;
    }
    .header_contact {
        margin-left: 2px;
    }
    .modal {
        padding-top: 30px;
    }
    .header_logo a {
        width: 113px;
    }
    

}